main {
  margin-top: 75px; /* Add a top margin to avoid content overlay */
}

.btn-message {
	margin-bottom:20px;
}

.btn-add-message {
	margin-top:20px;
}

.row-whith-wide-cards .card {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.form-group {
  margin-top:5px;
}

.message-card .btn-danger {
  float:right;
  position: relative;
  top: -65px;
  right: -5px;
}

.freepik-disclaimer {
    float:right;
    bottom: 0px;
    position: absolute;
    margin-bottom:20px;
    margin-left:20px;
}

.notification {
  margin-top: 75px;
}